.Sign {
    height: 100%;
    border: 20px solid lightgreen;
    padding: 10px;
    background-color: lightgray;
    display: block;

}
.SignMUTCDdiv {
    display: flex;
    text-align: left;
    font-size: 11px;
    
}
.SignMutcdText{
    flex:100px;
}

.SignImage {
    height: 40px;
    width: 40px;
    margin-right:10px;
    
    
}
.SignArrowImage {
    height: 40px;
    width: 60px;
    position:relative;
    
}

.SignEditButton{
   padding-bottom:5px;
}