.SignEditorUnder {

    position: fixed;
    background: lightgray;
    width: 25%;
    height: 60%;
    top: 50%;
    left: 57%;
    transform: translate(-50%,-50%);
    z-index: 9;
   

    /* z-index: 6;  */
}
.SignEditorOver {

    position: fixed;
    background: lightgrey;
    width: 25%;
    height: 60%;
    top: 50%;
    left: 57%;
    transform: translate(-50%,-50%);
    z-index: 10;
    font: 12px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
}

.TypeAheadDiv {
    position: relative;
    width:90%;
    top: 15px;
   margin-left:25px;

}

.MutcdInfoDiv {
    display: block;
    min-height: 60%;
    min-width: 90%;
    height: 50px;
    margin: 20px;
}
.MutcdInfoDiv_hidden {
    visibility: hidden;
    height: 0px;
}

.SignEditCancel {
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 5px;
    cursor: pointer;

}
.MUTCDdiv {
    position: relative;
    text-align: left;
    display: flex;
    top: 20px;
  
    padding: 5px;

}
.EditorMuttCode {

    flex: 100px;
    font-weight: bold;
}
.EditorMuteDesc {

    flex: 100px;
    font-size: 11px;
    font-weight: bold;
}

.SignEditorImage {

    width: 80px;
    height: 80px;
    
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px;
    padding-bottom: 1px;

}

.SignEditButtonDiv {
    position: relative;
    text-align: center;
    padding : 15px;

}
.InnerMUTCD {

    left: 2px;
    bottom: 3px;
    width: 50%;
    margin-right: 30px;
    margin-top: 5px;

}

.InnerMUTCD_error {
    position: relative;
    left: 20px;
    bottom: 30px;

}

.SignDirectionArrow {

    width: 80px;
}

.dirSign {
    height: 60px;
    width: 90px;
}
.dirSignTable {

    margin: auto;
}

.SignAttributes {
    position: relative;
    height: 110px;
    width: 90%;
    top: 3px;
    text-align: left;
    margin-left: 15px;
   

}
.ZoneSpan {
    padding-left: 155px;

}

.ZoneSpan_error {
    padding-left: 35px;
    border: 1px red solid;
}
.SignTextSpan {
    padding-left: 75px;
  

}

.SignText {
    resize: none;
    width:120px;
    

}

.StatusSelect {
    padding-right: 20px;

}

.StatusDiv {
    padding-top: 10px;
}

.EditorHorizontalBar {
    margin: 25px;

}

.typeahead-selector {
  
    border-style: solid;
    border-width: 1px 2px 2px 1px;
    background-color: lightgrey;
    font-size: smaller;
  }

  .TimebandDiv{
     
      padding-top:20px;
  }