.SignEditorUnder {

    position: fixed;
    background: lightgray;
    width: 40%;
    height: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
    /* z-index: 6;  */
}
.SignEditorOver {

    position: fixed;
    background: lightgrey;
    width: 40%;
    height: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    /*  z-index: 5  */
}

.TypeAheadDiv {
    position: relative;
    left: -15px;
    top: 15px;
}

.MutcdInfoDiv {
    display: block;
    min-height: 60%;
    min-width: 90%;
    height: 50px;
    
    margin: 20px;
}
.MutcdInfoDiv_hidden {
    visibility: hidden;
}

.SignEditCancel {
    width: 10px;
    height: 10px;
    float: right;
    margin-right: 5px;
    cursor: pointer;

}
.MUTCDdiv {
    position: relative;
    text-align: left;
    display: block;
    top: 30px;
    
}

.SignEditorImage {

    width: 80px;
}


.SignEditButtonDiv {
  
    bottom: 20px;
    position: relative;
   
    text-align:center;

}
.InnerMUTCD {
    position: relative;   
    left: 20px;
    bottom: 30px;

}

.InnerMUTCD_error {
    position: relative;   
    left: 20px;
    bottom: 30px;
    border: solid red 1px;
}



.SignDirectionArrow{
    float:right;
    width:80px;
}

.dirSign{
    height:60px;
    width:90px;
}
.dirSignTable{

    margin:auto;
}

.SignAttributes{
    position:relative;
    height: 110px;
    width: 80%;
    top:30px;
    text-align: left;
    margin-left:100px;
  
}
.ZoneSpan{
    padding-left: 285px;
   
}

.ZoneSpan_error{
    padding-left: 35px;
    border: 1px red solid;
}
.SignTextSpan{
    padding-left: 175px;
   
}

.SignText{
    resize:none;
    
}

.StatusSelect{
    padding-right:20px;
  
}

.StatusDiv{
    padding-top: 10px;
}
