.SignEditorUnder{
    
    position:fixed;
    background: lightgray;
    width: 40%;
    height: 40%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 9;
   /* z-index: 6;  */
}
.SignEditorOver{
    
    position:fixed;
    background: lightgrey;
    width: 40%;
    height: 40%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 10;
  /*  z-index: 5  */
}

.TypeAheadDiv{
  position: relative;
  left:-15px;
  top:15px;
}

.MutcdInfoDiv{
  display:block;
 min-height: 60%;
  min-width: 90%;
  height: 50px;
  border: 2px black solid;
  margin:20px;
}
.MutcdInfoDiv_hidden{
  visibility: hidden
}