.Timebands_View{
  width:80%;
  text-align: left;
  
}


.TimebandTitle_View{
    text-align:left;
    height:1px;
}

.TimebandTitle_Edit{
    height:1px;
}

/*-----------------------------------------------------------*/
.addBandDiv{  
    text-align: left;
    width:60%;   
}
.addBandButton{
    font: 12px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif; 
}

@media screen and (max-width:1300px) {
    .addBandDiv{  
        text-align: left;
        width:60%; 
  
    }
    .addBandButton{
        font: 8px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif; 
    }
}

/*--------------------------------------------------------------*/