.Timebands_View{
  width:80%;
  text-align: left;
  
}

.Timebands_Edit{

}


.TimebandTitle_View{
    text-align:left;
    height:1px;
}

.TimebandTitle_Edit{
    height:1px;
}


.addBandDiv{
  
    text-align: left;
    width:60%;
    margin:auto;
}