.Timeband {
    font: 12px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
    }

TimebandRow {
    display: block;
  
}
.timebandElement {
    font-size: 11px;
   color:white;
   background-color: rgb(134, 35, 35);

}
