.TimebandEditor{
   margin:auto;
   font: 12px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
  
}


.TimebandSelect{
    width:80px;
}

@keyframes BlinkyWarning{
    0%,100% {
        border-color: transparent;
    }

    50% {
        border-color: yellow;
    }
}

@keyframes Blinky {
    0%,100% {
        border-color: transparent;
    }

    50% {
        border-color: darkred;
    }
}


/*-------------------------------------------------------------------*/
.Timebands_err{
    border: 3px solid transparent;
    animation-name: Blinky;
    animation-duration: .1s;
    animation-iteration-count: infinite;
}
.deleteButton{
    font: 12px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
}
.deleteButton_err{
    font: 12px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
    border: 3px solid transparent;
    animation-name: Blinky;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.timeband{
    width:18%;
   
}

.TimebandEditor_delete{
    margin:auto;
    border:black solid 1px;
}
.timeband_warn {
    width: 80px;
    border: 3px solid transparent;
    animation-name: BlinkyWarning;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.timeband_err {
    width: 80px;
    border: 3px solid transparent;
    animation-name: Blinky;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@media screen and (max-width:1600px){
    .timeband{
       
        font: 9px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
    }
    .deleteButton{
        font: 8px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
    }
    .deleteButton_err{
        font: 8px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
        border: 1px solid transparent;
        animation-name: Blinky;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    .TimebandEditor_delete{
        margin:auto;
        border:black solid 1px;
        
    }
    .timeband_warn {
        width: 60px;
        border: 1px solid transparent;
        animation-name: BlinkyWarning;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        font: 9px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
    }
    
    .timeband_err {
        width: 60px;
        border: 1px solid transparent;
        animation-name: Blinky;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        font: 9px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
    }


}
@media screen and (max-width:1300px){

    .timeband{
     
        font: 9px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
    }
    .deleteButton{
        font: 8px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
    }
    .deleteButton_err{
        font: 8px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
        border: 1px solid transparent;
        animation-name: Blinky;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    .TimebandEditor_delete{
        margin:auto;
        border:black solid 1px;
        
    }
    .timeband_warn {
        width: 53px;
        border: 1px solid transparent;
        animation-name: BlinkyWarning;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        font: 9px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
    }
    
    .timeband_err {
        width: 53px;
        border: 1px solid transparent;
        animation-name: Blinky;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        font: 9px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
    }
}

/*--------------------------------------------------------------------*/