.TimebandEditor{
   margin:auto;
   font: 12px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
  
}

.TimebandEditor_delete{
    margin:auto;
    border:red solid 1px;
}
.TimebandSelect{
    width:80px;
}

@keyframes BlinkyWarning{
    0%,100% {
        border-color: transparent;
    }

    50% {
        border-color: yellow;
    }
}

@keyframes Blinky {
    0%,100% {
        border-color: transparent;
    }

    50% {
        border-color: red;
    }
}

.timeband_warn {
    width: 80px;
    border: 3px solid transparent;
    animation-name: BlinkyWarning;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.timeband_err {
    width: 80px;
    border: 3px solid transparent;
    animation-name: Blinky;
    animation-duration: .1s;
    animation-iteration-count: infinite;
}
.timeband{
    width:80px;
}