.Timeband {
    font: 10px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
    }

TimebandRow {
    display: block;
  
}
.timebandElement {
    font-size: 12px;
   color:white;
   background-color: rgb(134, 35, 35);

}

@media screen and (max-width:1600px){

    .timebandElement {
        font-size: 10px;
       color:white;
       background-color: rgb(134, 35, 35);
    
    }
}

@media screen and (max-width:1300px){
    .timebandElement {
        font-size: 9px;
       color:white;
       background-color: rgb(134, 35, 35);
    
    }

}