.Banner{
display:flex;
flex-direction: row;
background-color: rgb(155, 177, 228);
color:white;


   
}

.UserAccount{
   display: inline;
   color:white;
   
}
.AppLogo{
   display: block;
   margin-left: 175px;
   margin-top:5px;
   margin-bottom:3px;
}

.AppTools{
    display: flex;
   flex-grow:7;
    
}

.ActionSelect{
   display:flex;
   margin-top:50px;
  
   
}