.GoogleMaps{
    height:100%;
    width:100%;
    font: 12px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
}

.ggPane{
    height: 90%;
    width: 100%;
    
}

.ggCancel{
    width: 10px;
    height: 10px;
    text-align: center;
    margin-right: 5px;
    margin-bottom:20px;
    cursor: pointer;
}