.SuperQuery{
    position: fixed;
    background: lightgrey;
    width: 40%;
    height: 40%;
    top: 50%;
    left: 57%;
    transform: translate(-50%,-50%);
    z-index: 10;
    /*  z-index: 5  */
}

.SuperQueryCancel{
    
  width: 10px;
  height: 10px;
  float: right;
  margin-right: 5px;
  cursor: pointer;
}

