.Support{

    height: 220px;
    padding:10px ;
   border : 2px black solid;
    background-clip: content-box;
    background-color: lightcoral;
}

.SupportImage{
    height:75px;
    width:75px;
    margin-left: 2px;
    display: inline-block;

}