.Support{

    height: 220px;
    padding:10px ;
   border : 20px lightcoral solid;
   background-color: lightgrey;
    
}

.SupportImage{
    height:75px;
    width:75px;
    margin-left: 2px;
    display: inline-block;

}