.SupportEditor{
    position:fixed;
  background: lightgrey;
  width: 40%;
  height: 40%;
  top:50%;
  left:67%;
  transform: translate(-50%,-50%);
}

.SupportEditCancel {
  width: 10px;
  height: 10px;
  float: right;
  margin-right: 5px;
  cursor: pointer;

}